<%= render partial: 'codes', locals: { type: LowIncomeCode } %>
<hr />
<%= render partial: 'codes', locals: { type: MembershipCode } %>
<hr />
<%= render partial: 'codes', locals: { type: DirectSaleCode } %>

<p>To find out more, see the <a href="https://github.com/yonsaber/london-decom-membership#codes">README</a></p>