<div class="text-center">
  <h1>This page isn't working!</h1>
  <p>Oh no! That was a bad request, if this problem continues, please contact <a href="mailto:members@londondecom.org">members@londondecom.org</a></p>
</div>